<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Zibox2-Standard</title>
    <script src="src/renderer/zibox-packet-bundle.js">
      console.log('hello');
    </script>
    <!-- <script src="%PUBLIC_URL%/zibox2-bundle.js"></script> -->
  </head>
  <body>
    <div id="root"></div>
    <!-- <div id="modal-root"></div> -->
  </body>
  <script>
    // document.addEventListener('ziboxDeviceChanged', (e) =>
    //   console.log(e.detail)
    // );
    console.log('hi');
  </script>
</html>
